In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
cwd=os.getcwd()
print(cwd)

C:\Users\huimi

In [3]:
loans_2007=pd.read_csv('LoanStats3a.csv',skiprows=1,low_memory=False)

In [4]:
loans_2007.shape

(42538, 145)

In [5]:
count_half=len(loans_2007)/2

In [6]:
loans_2007=loans_2007.dropna(thresh=count_half,axis=1)

In [7]:
loans_2007.shape

(42538, 54)

In [8]:
loans_2007['loan_status'].value_counts()

Fully Paid                                             34116
Charged Off                                             5670
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Name: loan_status, dtype: int64

In [10]:
loans_2007['purpose'].value_counts()

debt_consolidation    19776
credit_card            5477
other                  4425
home_improvement       3199
major_purchase         2311
small_business         1992
car                    1615
wedding                1004
medical                 753
moving                  629
house                   426
educational             422
vacation                400
renewable_energy        106
Name: purpose, dtype: int64

In [11]:
loans_2007_dtypes=pd.DataFrame(loans_2007.dtypes,columns=['dtypes'])
loans_2007_dtypes=loans_2007_dtypes.reset_index()
loans_2007_dtypes['name']=loans_2007_dtypes['index']
loans_2007_dtypes=loans_2007_dtypes[['name','dtypes']]
loans_2007_dtypes['first value']=loans_2007.loc[0].values

In [12]:
data_dictionary=pd.read_excel('LCDataDictionary.xlsx')
data_dictionary = data_dictionary.rename(columns={'LoanStatNew': 'name',
                                                 'Description': 'description'})

In [13]:
preview=loans_2007_dtypes.merge(data_dictionary,on='name',how='left')

In [14]:
preview.head()

,name,dtypes,first value,description
0,loan_amnt,float64,5000,The listed amount of the loan applied for by t...
1,funded_amnt,float64,5000,The total amount committed to that loan at tha...
2,funded_amnt_inv,float64,4975,The total amount committed by investors for th...
3,term,object,36 months,The number of payments on the loan. Values are...
4,int_rate,object,10.65%,Interest Rate on the loan

In [15]:
preview[:19]

,name,dtypes,first value,description
0,loan_amnt,float64,5000,The listed amount of the loan applied for by t...
1,funded_amnt,float64,5000,The total amount committed to that loan at tha...
2,funded_amnt_inv,float64,4975,The total amount committed by investors for th...
3,term,object,36 months,The number of payments on the loan. Values are...
4,int_rate,object,10.65%,Interest Rate on the loan
5,installment,float64,162.87,The monthly payment owed by the borrower if th...
6,grade,object,B,LC assigned loan grade
7,sub_grade,object,B2,LC assigned loan subgrade
8,emp_title,object,NaN,The job title supplied by the Borrower when ap...
9,emp_length,object,10+ years,Employment length in years. Possible values ar...
10,home_ownership,object,RENT,The home ownership status provided by the borr...
11,annual_inc,float64,24000,The self-reported annual income provided by th...
12,verification_status,object,Verified,"Indicates if income was verified by LC, not ve..."
13,issue_d,object,Dec-2011,The month which the loan was funded
14,loan_status,object,Fully Paid,Current status of the loan
15,pymnt_plan,object,n,Indicates if a payment plan has been put in pl...
16,desc,object,Borrower added on 12/22/11 > I need to upgra...,Loan description provided by the borrower
17,purpose,object,credit_card,A category provided by the borrower for the lo...
18,title,object,Computer,The loan title provided by the borrower

In [16]:
drop_list = ['funded_amnt','funded_amnt_inv',
             'int_rate','sub_grade','emp_title','issue_d']
loans_2007 = loans_2007.drop(drop_list,axis=1)

In [17]:
loans_2007.shape

(42538, 48)

In [18]:
drop_cols = [ 'zip_code','out_prncp','out_prncp_inv',
             'total_pymnt','total_pymnt_inv']
loans_2007 = loans_2007.drop(drop_cols, axis=1)

In [19]:
loans_2007.shape

(42538, 43)

In [20]:
preview[38:]

,name,dtypes,first value,description
38,recoveries,float64,0,post charge off gross recovery
39,collection_recovery_fee,float64,0,post charge off collection fee
40,last_pymnt_d,object,Jan-2015,Last month payment was received
41,last_pymnt_amnt,float64,171.62,Last total payment amount received
42,last_credit_pull_d,object,Dec-2018,The most recent month LC pulled credit for thi...
43,collections_12_mths_ex_med,float64,0,Number of collections in 12 months excluding m...
44,policy_code,float64,1,publicly available policy_code=1\nnew products...
45,application_type,object,Individual,Indicates whether the loan is an individual ap...
46,acc_now_delinq,float64,0,The number of accounts on which the borrower i...
47,chargeoff_within_12_mths,float64,0,Number of charge-offs within 12 months
48,delinq_amnt,float64,0,The past-due amount owed for the accounts on w...
49,pub_rec_bankruptcies,float64,0,Number of public record bankruptcies
50,tax_liens,float64,0,Number of tax liens
51,hardship_flag,object,N,Flags whether or not the borrower is on a hard...
52,disbursement_method,object,Cash,The method by which the borrower receives thei...
53,debt_settlement_flag,object,N,"Flags whether or not the borrower, who has cha..."

In [21]:
loans_2007.shape

(42538, 43)

In [22]:
loans_2007.dtypes

loan_amnt                     float64
term                           object
installment                   float64
grade                          object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
loan_status                    object
pymnt_plan                     object
desc                           object
purpose                        object
title                          object
addr_state                     object
dti                           float64
delinq_2yrs                   float64
earliest_cr_line               object
inq_last_6mths                float64
open_acc                      float64
pub_rec                       float64
revol_bal                     float64
revol_util                     object
total_acc                     float64
initial_list_status            object
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                   object
last_pymnt_amnt               float64
last_credit_pull_d             object
collections_12_mths_ex_med    float64
policy_code                   float64
application_type               object
acc_now_delinq                float64
chargeoff_within_12_mths      float64
delinq_amnt                   float64
pub_rec_bankruptcies          float64
tax_liens                     float64
hardship_flag                  object
disbursement_method            object
debt_settlement_flag           object
dtype: object

In [23]:
drop_cols = [ 'disbursement_method','debt_settlement_flag']
loans_2007 = loans_2007.drop(drop_cols, axis=1)

In [24]:
loans_2007.shape

(42538, 41)

In [25]:
loans_2007 = loans_2007[(loans_2007["loan_status"] == "Fully Paid") |
                            (loans_2007["loan_status"] == "Charged Off")]

mapping_dictionary = {"loan_status":{ "Fully Paid": 1, "Charged Off": 0}}
loans_2007 = loans_2007.replace(mapping_dictionary)

In [26]:
loans_2007.shape

(39786, 41)

In [27]:
loans_2007 = loans_2007.loc[:,loans_2007.apply(pd.Series.nunique) != 1]

In [28]:
loans_2007.shape

(39786, 31)

In [29]:
loans_2007['term'].value_counts()

 36 months    29096
 60 months    10690
Name: term, dtype: int64

In [31]:
for col in loans_2007.columns:
    if (len(loans_2007[col].unique()) < 4):
        print(loans_2007[col].value_counts())
        print()

 36 months    29096
 60 months    10690
Name: term, dtype: int64

Not Verified       16926
Verified           12844
Source Verified    10016
Name: verification_status, dtype: int64

1    34116
0     5670
Name: loan_status, dtype: int64

In [35]:
drop_cols = ['total_rec_prncp','total_rec_int', 'total_rec_late_fee',
             'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
             'last_pymnt_amnt']

loans_2007 = loans_2007.drop(drop_cols, axis=1)

In [36]:
loans_2007.shape

(39786, 24)

In [37]:
loans_2007.to_csv('filtered_loans_2007.csv',index=False)

In [38]:
loans_2007.columns

Index(['loan_amnt', 'term', 'installment', 'grade', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'desc', 'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'last_credit_pull_d',
       'pub_rec_bankruptcies'],
      dtype='object')

In [39]:
loans_2007 = loans_2007.drop(['desc'], axis=1)

In [40]:
loans_2007.shape

(39786, 23)

In [41]:
loans_2007.to_csv('filtered_loans_2007.csv',index=False)

In [42]:
filtered_loans = pd.read_csv('filtered_loans_2007.csv')

In [43]:
filtered_loans.isnull().sum()

loan_amnt                  0
term                       0
installment                0
grade                      0
emp_length              1078
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
title                     11
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                50
total_acc                  0
last_credit_pull_d         2
pub_rec_bankruptcies     697
dtype: int64

In [46]:
filtered_loans[filtered_loans['emp_length'].isnull()]['loan_status'].value_counts()

1    848
0    230
Name: loan_status, dtype: int64

In [48]:
filtered_loans = filtered_loans.drop(["pub_rec_bankruptcies"],axis=1)
filtered_loans = filtered_loans.dropna()

In [49]:
filtered_loans.shape

(38649, 22)

In [51]:
filtered_loans.to_csv('filtered_loans_2007.csv',index=False)

In [62]:
cleaned_loans=pd.read_csv('filtered_loans_2007.csv',low_memory=False)

In [63]:
cleaned_loans.shape

(38649, 22)

In [64]:
cleaned_loans.dtypes.value_counts()

object     11
float64    10
int64       1
dtype: int64

In [65]:
cleaned_loans.select_dtypes(include=['object']).iloc[0]

term                     36 months
grade                            B
emp_length               10+ years
home_ownership                RENT
verification_status       Verified
purpose                credit_card
title                     Computer
addr_state                      AZ
earliest_cr_line          Jan-1985
revol_util                   83.7%
last_credit_pull_d        Dec-2018
Name: 0, dtype: object

In [66]:
cleaned_loans['revol_util']=cleaned_loans['revol_util'].str.rstrip('%').astype('float')

In [67]:
drop_cols = ['last_credit_pull_d','addr_state','title','earliest_cr_line']
cleaned_loans = cleaned_loans.drop(drop_cols,axis=1)

In [68]:
cleaned_loans['loan_status'].value_counts()

1    33226
0     5423
Name: loan_status, dtype: int64

In [69]:
mapping_dict={'grade':{'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7}}

In [70]:
cleaned_loans = cleaned_loans.replace(mapping_dict)

In [71]:
cleaned_loans['grade'].head()

0    2
1    3
2    3
3    3
4    2
Name: grade, dtype: int64

In [72]:
nominal_columns = ["home_ownership", "verification_status", "purpose", "term"]
dummy_df = pd.get_dummies(cleaned_loans[nominal_columns])
cleaned_loans = pd.concat([cleaned_loans, dummy_df], axis=1)
cleaned_loans = cleaned_loans.drop(nominal_columns, axis=1)

In [73]:
cleaned_loans.shape

(38649, 38)

In [75]:
cleaned_loans['emp_length'].value_counts()

10+ years    8897
< 1 year     4576
2 years      4389
3 years      4094
4 years      3435
5 years      3279
1 year       3240
6 years      2227
7 years      1771
8 years      1483
9 years      1258
Name: emp_length, dtype: int64

In [78]:
mapping_dict = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0}
}

cleaned_loans=cleaned_loans.replace(mapping_dict)

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [81]:
cleaned_loans['emp_length'].head(10)

0    10
1     0
2    10
3    10
4     1
5     3
6     8
7     9
8     4
9     0
Name: emp_length, dtype: int64

In [82]:
loans_label=cleaned_loans['loan_status']

In [83]:
cleaned_loans = cleaned_loans.drop('loan_status',axis=1)

In [95]:
loans_label.to_csv('allstate_labels_2007.csv',index=False,header='loan_status')

In [96]:
cleaned_loans.to_csv('allstate_filtered_loans_2007.csv',index=False)